/external/python/cpython3 presubmit
/ndk
/prebuilts/gcc/darwin-x86/host/headers pdk darwin
/prebuilts/gcc/darwin-x86/host/i686-apple-darwin-4.2.1 pdk darwin
/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8 pdk linux
/prebuilts/gcc/linux-x86/host/x86_64-w64-mingw32-4.8 pdk-fs
/prebuilts/ndk pdk
/toolchain/binutils
/toolchain/build
/toolchain/cloog
/toolchain/expat
/toolchain/gcc
/toolchain/gmp
/toolchain/isl
/toolchain/mpc
/toolchain/mpfr
/toolchain/ppl
/toolchain/sed
